.btn-xsm,
.btn.btn-xsm,
.btn-group-xsm > .btn,
.ajax-upload-dragdrop .btn-group-xsm > .ajax-file-upload,
.swal2-modal .swal2-buttonswrapper .btn-group-xsm > .swal2-styled,
.wizard > .actions .btn-group-xsm > a {
    padding: 0.2rem 0.8rem;
    font-size: 0.65rem;
    line-height: 1.2;
    border-radius: 0.12rem;
}
